<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>SneakerLab</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/923acb3a15.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script text="text/javascript">
        var user = '{{request.user}}'

        function getToken(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for(var i=0; i<cookies.length; i++){
                    var cookie = cookies[i].trim();
                    //Does this cookie string begin with the name we want?
                    if(cookie.substring(0,name.length+1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>
</head>

<body>
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="fas fa-envelope"></i>
                <a href="">SneakerLab</a>                
            </div>
            <div class="social-links">
                <a href="https://twitter.com/NBA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/nba/" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/nba/" class="instagram"><i class="fab fa-instagram"></i></a>
                {% if request.user.is_authenticated %}
                <a href="" class="nav-link"> {{user.username}} </a>
                <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
                {% else %}
                <a href="{% url 'register' %}" class="nav-link">Sign Up</a>
                <a href="{% url 'login' %}" class="nav-link">Sign In</a>
                {% endif %}
            </div>
        </div>
    </section>
    
        <nav class="navbar navbar-expand-lg bg-color" id="myNavbar">
            <div class="container">
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'images/logo.png' %}" alt="" style="height: 60px;width: 150px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>Menu
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sneakers' %}">Sneakers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>

                    <div class="form-inline my-2 my-lg-0">
                        <a href="{% url 'cart' %}">
                            <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col no-padding">
                    <div id="hero-slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item slide-1 active">
                                <div class="carousel-caption mb-5 text-right">
                                    <h1 class="display-4 text-uppercase mb-2 text-bold" style="font-size: 20px; justify-content: end;">
                                        Training At Home For Pumping Equipment
                                    </h1>
                                    <!-- <a href="p404.html" class="btn btn-lg mb-5 text-uppercase site-btn sb-gradient">Join us</a> -->
                                </div>
                            </div>
                            <div class="carousel-item slide-2">
                                <div class="carousel-caption mb-5 text-right">
                                <h1 class="display-4 text-uppercase text-bold" style="font-size: 20px;">
                                    Come for a trial workout. You can cancel at any time online.
                                </h1>
                                <!-- <a href="p404.html" class="btn btn-lg mb-5 text-uppercase site-btn sb-gradient">Your start to be pro</a> -->
                                </div>
                            </div>
                            <div class="carousel-item slide-3">
                                <div class="carousel-caption mb-5 text-right">
                                <h1 class="display-4 text-uppercase mb-2 text-bold" style="font-size: 20px;">
                                    Your practice!
                                </h1>
                                <!-- <a href="p404.html" class="btn btn-lg mb-5 text-uppercase site-btn sb-gradient">Join the movement!</a> -->
                                </div>
                            </div>
                            </div>
                            <a href="#hero-slider" class="carousel-control-prev" role="button" data-slide="prev">
                            <i class="fas fa-arrow-circle-left"> </i>
                            </a>
                                    <a href="#hero-slider" class="carousel-control-next" role="button" data-slide="next">
                                        <i class="fas fa-arrow-circle-right"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="about-section">
                        <div class="container">
                            <div class="section-title text-center">
                                <h2>Welcome to Basketball</h2>
                                <p>
                                    Connect and train with 300+ expert trainers of basketball.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="about-img">
                                        <img src="https://images.unsplash.com/photo-1587166088004-bbd20854280f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-item">
                                        <div class="about-icon">
                                            <i class="fab fa-diaspora fa-2x"></i>
                                        </div>
                                        <div class="about-text">
                                            <h4>Welcome to Basketball</h4>
                                            <p>
                                                Regular basketball practice strengthens the cardiovascular and respiratory systems, significantly improves the work of the endocrine glands.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="about-item">
                                        <div class="about-icon">
                                            <i class="fab fa-diaspora fa-2x"></i>
                                        </div>
                                        <div class="about-text">
                                            <h4>How to play Basketball?</h4>
                                            <p>
                                                Give it a try and It will make you more resilient and stronger.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="about-item">
                                        <div class="about-icon">
                                            <i class="fab fa-diaspora fa-2x"></i>
                                        </div>
                                        <div class="about-text">
                                            <h4>I can't jump</h4>
                                            <p>
                                                Listen to your body, don't force yourself and stay within your limits.
                                            </p>
                                        </div>
                                    </div>
                                    <a href="explore.html" class="site-btn sb-gradient mt-3" style="text-decoration: none">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </section>
        <hr>
        <section class="services section-bg pt-5">
        <div class="container">
            <div class="section-title">
            <h2>Services</h2>
            <p>
            This is your personal online trainer at home or on the go. With B.Trainer you can practice basketball - whenever and wherever you want.
            </p>
            </div>
            <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                <h4 class="title">
                    <a href="p404.html">Dribbling</a>
                                    </h4>
                                    <p class="description">
                                        On wellbeing, anatomy, philosophy and more
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="icon-box">
                                    <h4 class="title">
                                        <a href="p404.html">Workout</a>
                                    </h4>
                                    <p class="description">
                                        Inspiration for your practice or teaching
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="icon-box">
                                    <h4 class="title">
                                        <a href="p404.html">Shooting</a>
                                    </h4>
                                    <p class="description">
                                        Tips on how to make poses work for you
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="icon-box">
                                    <h4 class="title">
                                        <a href="p404.html">Before game</a>
                                    </h4>
                                    <p class="description">
                                        Quick guides to all our yoga styles yoag
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="icon-box">
                                    <h4 class="title">
                                        <a href="p404.html">Finishes</a>
                                    </h4>
                                    <p class="description">
                                        Step-by-step guides to yin yoga poses
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="icon-box">
                                    <h4 class="title">
                                        <a href="Sneakers.html">Sneakers</a>
                                    </h4>
                                    <p class="description">
                                        To get the best feeling from training and games, you have to get the best sneakers
                                    </p>
                                </div>
                            </div>
                    </section>
                    <hr>
                    <section class="pricing-section pt-5">
                        <div class="container">
                            <div class="section-title text-center">
                                <h2>Price</h2>
                                <p>Do not economy on yourself!</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="price-item beginner">
                                        <div class="price-top">
                                            <h4>Play</h4>
                                        </div>
                                        <div class="price-sec">
                                            <h3>30$</h3>
                                            <p>Per month</p>
                                        </div>
                                        <ul>
                                            <li> <span>What you need:</span> Change of clothes, basketball jersey.</li>
                                            <li> <span>What you can use:</span> Court,Gym,Video practice</li>
                                            <li> <span>About plan:</span> This plan is for those people who wants to just play basketball once or twice a week.</li>
                                        </ul>
                                        <a href="p404.html" class="site-btn sb-gradient">Get started</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="price-item intermediate">
                                        <div class="price-top">
                                            <h4>Rookie</h4>
                                        </div>
                                        <div class="price-sec">
                                            <h3>50$</h3>
                                            <p>Per month</p>
                                        </div>
                                        <ul>
                                            <li> <span>What you need:</span> Change of clothes, the desire to become better.</li>
                                            <li> <span>What you can use:</span> Court,Gym,Video practice, offline practice with trainer(2 times a week).</li>
                                            <li> <span>About plan:</span> This plan is for those who wants to started play basketball and want to be stronger in it.</li>
                                        </ul>
                                        <a href="p404.html" class="site-btn sb-gradient">Get started</a>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="price-item advanced">
                                        <div class="price-top">
                                            <h4>Hooper</h4>
                                        </div>
                                        <div class="price-sec">
                                            <h3>80$</h3>
                                            <p>Per month</p>
                                        </div>
                                        <ul>
                                            <li> <span>What you need:</span> Change of clothes, the desire to become better.</li>
                                            <li> <span>What you can use:</span> Court,Gym,Video practice, offline practice with trainer(4 times a week).</li>
                                            <li> <span>About plan:</span> This plan is for those who wants to started play basketball and want to be stronger in it.</li>
                                        </ul>
                                        <a href="p404.html" class="site-btn sb-gradient">Get started</a>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="price-item pro">
                                        <div class="price-top">
                                            <h4>Pro</h4>
                                        </div>
                                        <div class="price-sec">
                                            <h3>100$</h3>
                                            <p>Per month</p>
                                        </div>
                                        <ul>
                                            <li> <span>What you need:</span> The desire to be the best.</li>
                                            <li> <span>What you can use:</span> Court,Gym,Video practice, offline practice with trainer(6 times a week).</li>
                                            <li> <span>About plan:</span> In this plan you will enter the basketball team and you'll play with universities,other teams. You will play in tournaments and one time you will be picked in NBA</li>
                                        </ul>
                                        <a href="p404.html" class="site-btn sb-gradient">Get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section class="gallery">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center pt-5">
                                    <h1 class="text-dark text-uppercase">
                                        Our Gallery
                                    </h1>
                                </div>
                            </div>
                            <div class="row mb-4 first-row align-items-end">
                                <div class="col-lg-3">
                                    <a href="https://images.pexels.com/photos/258004/pexels-photo-258004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="basketball" data-title="image-title">
                                        <img src="https://images.pexels.com/photos/258004/pexels-photo-258004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-thumbnail gallery"></a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="https://images.pexels.com/photos/974501/pexels-photo-974501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-lightbox="basketball" data-title="image-title">
                                        <img src="https://images.pexels.com/photos/974501/pexels-photo-974501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-thumbnail gallery"></a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="https://images.pexels.com/photos/2304351/pexels-photo-2304351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-lightbox="basketball" data-title="image-title">
                                        <img src="https://images.pexels.com/photos/2304351/pexels-photo-2304351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-thumbnail gallery"></a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="https://images.pexels.com/photos/3764158/pexels-photo-3764158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-lightbox="basketball" data-title="image-title">
                                        <img src="https://images.pexels.com/photos/3764158/pexels-photo-3764158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-thumbnail gallery"></a>
                                </div>
                            </div>
                            <div class="row mb-4 second-row align-items-end">
                                <div class="col-lg-3">
                                    <a href="https://cdn.pixabay.com/photo/2018/04/05/09/03/ball-3292243_960_720.jpg" data-lightbox="basketball" data-title="image-title">
                                        <img src="https://cdn.pixabay.com/photo/2018/04/05/09/03/ball-3292243_960_720.jpg" class="img-thumbnail gallery" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="https://cdn.pixabay.com/photo/2016/11/29/03/01/backboard-1866968_960_720.jpg" data-lightbox="basketball" data-title="image-title">
                                        <img src="https://cdn.pixabay.com/photo/2016/11/29/03/01/backboard-1866968_960_720.jpg" class="img-thumbnail gallery" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="https://images.pexels.com/photos/2385477/pexels-photo-2385477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-lightbox="basketball" data-title="image-title">
                                        <img src="https://images.pexels.com/photos/2385477/pexels-photo-2385477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-thumbnail gallery" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="https://images.pexels.com/photos/69773/uss-nimitz-basketball-silhouettes-sea-69773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-lightbox="basketball" data-title="image-title">
                                        <img src="https://images.pexels.com/photos/69773/uss-nimitz-basketball-silhouettes-sea-69773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-thumbnail gallery" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section class="faq section-bg pt-5" id="faq">
                        <div class="container">
                            <div class="section-title">
                                <h2>F.A.Q</h2>
                                <p>You can get answers to frequently asked questions here</p>
                            </div>
                            <div class="faq-list">
                                <ul>
                                    <li>
                                        <i href="" class="fas fa-align-justify icon-help"></i>
                                        <a href="#faq-list-1" data-toggle="collapse" class="collapsed">What is Basketball?
                            <i class="fas fa-chevron-down icon-show"></i>
                            <i class="fas fa-chevron-up icon-close"></i>
                        </a>
                                        <div class="collapse show" id="faq-list-1" data-parent=".faq-list">
                                            <p>Basketball is a game played between two teams of five players each on a rectangular court, usually indoors. Each team tries to score by tossing the ball through the opponent's goal, an elevated horizontal hoop and net called a basket.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <i href="" class="fas fa-align-justify icon-help"></i>
                                        <a href="#faq-list-2" data-toggle="collapse" class="collapsed">What equipment do you need for Basketball?
                            <i class="fas fa-chevron-down icon-show"></i>
                            <i class="fas fa-chevron-up icon-close"></i>
                        </a>
                                        <div class="collapse show" id="faq-list-2" data-parent=".faq-list">
                                            <p>Basketball is a simple game, it doesn't require any equipment other than a hoop, a ball and a flat court. Even two players can play and have fun with basketball.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <i href="" class="fas fa-align-justify icon-help"></i>
                                        <a href="#faq-list-3" data-toggle="collapse" class="collapsed">What should you wear to play Basketball?
                            <i class="fas fa-chevron-down icon-show"></i>
                            <i class="fas fa-chevron-up icon-close"></i>
                        </a>
                                        <div class="collapse show" id="faq-list-3" data-parent=".faq-list">
                                            <p>You'll need warmup suits and jackets for pre-game, and comfortable basketball shirts, T-shirts and practice jerseys, and it's always a good idea to keep a basic fleece hoodie in your locker. Fortify yourself on the court with compression layers — like shorts and tanks or shooter sleeves and leg sleeves.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <i href="" class="fas fa-align-justify icon-help"></i>
                                        <a href="#faq-list-4" data-toggle="collapse" class="collapsed">How do I get the practice videos than I bought?
                            <i class="fas fa-chevron-down icon-show"></i>
                            <i class="fas fa-chevron-up icon-close"></i>
                        </a>
                                        <div class="collapse show" id="faq-list-4" data-parent=".faq-list">
                                            <p>After you have registered for a practice, you can reach it via the link to your account above.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="about-section">
                        <div class="container">
                            <div class="section-title text-center">
                                <h2>Welcome to Basketball</h2>
                                <p>
                                    Connect and train with 300+ expert trainers of basketball.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="about-img">
                                        <img src="https://images.unsplash.com/photo-1587166088004-bbd20854280f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-item">
                                        <div class="about-icon">
                                            <i class="fab fa-diaspora fa-2x"></i>
                                        </div>
                                        <div class="about-text">
                                            <h4>We are looking for you!</h4>
                                            <p>
                                                If you good person, send your resume!!!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="about-item">
                                        <div class="about-icon">
                                            <i class="fab fa-diaspora fa-2x"></i>
                                        </div>
                                        <div class="about-text">
                                            <h4>How to play Basketball?</h4>
                                            <p>
                                                Give it a try and It will make you more resilient and stronger.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="about-item">
                                        <div class="about-icon">
                                            <i class="fab fa-diaspora fa-2x"></i>
                                        </div>
                                        <div class="about-text">
                                            <h4>I can't jump</h4>
                                            <p>
                                                Listen to your body, don't force yourself and stay within your limits.
                                            </p>
                                        </div>
                                    </div>
                                    <a href="{% url 'jobvacancy' %}" class="site-btn sb-gradient mt-3" style="text-decoration: none">Send а Resume</a>
                                </div>
                            </div>
                        </div>
                    </section>
    
                <hr>
                <footer>
                    <section class="contact mt-5">
                        <div class="container">
                            <div class="row mt-5">
                                <div class="col-lg-4">
                                    <div class="info">
                                        <div class="address">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <h4>Location:</h4>
                                            <p>Abylai Khan Avenue 1/1, Kaskelen 050010</p>
                                        </div>
                                        <div class="open-hours">
                                            <i class="far fa-clock"></i>
                                            <h4>Open Hours:</h4>
                                            <p>Monday-Saturday<br> 8AM–8:30PM
                                            </p>
                                        </div>
                                        <div class="email">
                                            <i class="fas fa-envelope-open-text"></i>
                                            <h4>Email:</h4>
                                            <p>basketball.trainer@gmail.com</p>
                                        </div>
                                        <div class="phone">
                                            <i class="fas fa-phone"></i>
                                            <h4>Call:</h4>
                                            <p> 8 (777) 777 7777</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mt-5 mt-lg-0">

                                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3058.9150068161193!2d76.66674431252055!3d43.20627075992801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38834f7675d8a6c3%3A0x7b7d14aec270c056!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgiDQodGD0LvQtdC50LzQsNC9INCU0LXQvNC40YDQtdC70Y8!5e0!3m2!1sru!2skz!4v1650741097988!5m2!1sru!2skz" 
                                        width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="sub-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 ">
                                    <div>
                                        <div class="text-center">
                                            <p>&copy; Copyright - SneakerLab. All rights reserved.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </footer>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>