<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Cart</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/sneakers.css' %}">
    <script src="https://kit.fontawesome.com/923acb3a15.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script text="text/javascript">
        var user = '{{request.user}}'

        function getToken(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for(var i=0; i<cookies.length; i++){
                    var cookie = cookies[i].trim();
                    //Does this cookie string begin with the name we want?
                    if(cookie.substring(0,name.length+1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>
</head>

<body>
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="fas fa-envelope"></i>
                <a href="">SneakerLab</a>                
            </div>
            <div class="social-links">
                <a href="https://twitter.com/NBA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/nba/" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/nba/" class="instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg bg-color" id="myNavbar">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'images/logo.png' %}" alt="" style="height: 60px;width: 150px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>Menu
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sneakers' %}">Sneakers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>

                <div class="form-inline my-2 my-lg-0">
                    <a href="#"class="btn btn-secondary ">Login</a>
                            
                    <a href="{% url 'cart' %}">
                        <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                    </a>
                    <p id="cart-total">{{ cartItems }}</p>
                </div>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'sneakers' %}">&#x2190; Continue Shopping</a>
                    <br>
                    <br>
                    <table class="table">
                        <tr>
                            <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
                            <th><h5>Total: <strong>${{ order.get_cart_total|floatformat:2 }}</strong></h5></th>
                            <th>
                                <a style="float: right; margin: 5px" class="btn btn-secondary" href="{% url 'checkout' %}">Checkout</a>
                            </th>
                        </tr>
                    </table>
                </div>
    
                <br>
    
                <div class="box-element">
                    <div class="cart-row">
                        <!-- <div style="flex:2"></div> -->
                        <div style="flex:2"><strong>Item</strong></div>
                        <div style="flex:1"><strong>Price</strong></div>
                        <div style="flex:1"><strong>Quantity</strong></div>
                        <div style="flex:1"><strong>Total</strong></div>
                    </div>
                    {% for item in items %}
                    <div class="cart-row">
                        <!-- <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div> -->
                        <div style="flex:2"><p>{{ item.product.name }} {{ item.product.model }}</p></div>
                        <div style="flex:1"><p>${{ item.product.price|floatformat:2 }}</p></div>
                        <div style="flex:1">
                            <p class="quantity">{{ item.quantity }}</p>
                            <div class="quantity">
                                <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                        
                                <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                            </div>
                        </div>
                        <div style="flex:1"><p>${{ item.get_total|floatformat:2 }}</p></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>    
    </div>

    <br>
    <br>
    <br>
    
            
    <footer>
        <section class="contact mt-5">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="fas fa-map-marker-alt"></i>
                                <h3>Location:</h3>
                                <p>Abylai Khan Avenue 1/1, Kaskelen 050010</p>
                            </div>
                            <div class="open-hours">
                                <i class="far fa-clock"></i>
                                <h3>Open Hours:</h3>
                                <p>Monday-Saturday<br> 8AM–8:30PM
                                </p>
                            </div>
                            <div class="email">
                                <i class="fas fa-envelope-open-text"></i>
                                <h3>Email:</h3>
                                <p>basketball.trainer@gmail.com</p>
                            </div>
                            <div class="phone">
                                <i class="fas fa-phone"></i>
                                <h3>Call:</h3>
                                <p> 8 (777) 777 7777</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3058.9150068161193!2d76.66674431252055!3d43.20627075992801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38834f7675d8a6c3%3A0x7b7d14aec270c056!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgiDQodGD0LvQtdC50LzQsNC9INCU0LXQvNC40YDQtdC70Y8!5e0!3m2!1sru!2skz!4v1650741097988!5m2!1sru!2skz" 
                            width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>

                    </div>
                </div>
            </div>
        </section>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <di class="col-sm-4 col-md-4 ">
                        <div>
                            <div class="text-center">
                                <p>&copy; Copyright - SneakerLab. All rights reserved.</p>
                            </div>
                        </div>
                    </di
                </div>
            </div>
        </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>