<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Basketball Training</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/sneakers.css' %}">
    <script src="https://kit.fontawesome.com/923acb3a15.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script text="text/javascript">
        var user = '{{request.user}}'

        function getToken(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for(var i=0; i<cookies.length; i++){
                    var cookie = cookies[i].trim();
                    //Does this cookie string begin with the name we want?
                    if(cookie.substring(0,name.length+1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>
</head>

<body>
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="fas fa-envelope"></i>
                <a href="">SneakerLab</a>                
            </div>
            <div class="social-links">
                <a href="https://twitter.com/NBA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/nba/" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/nba/" class="instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg bg-color" id="myNavbar">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'images/heat.png' %}" alt="" style="height: 60px;width: 181px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>Menu
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sneakers' %}">Sneakers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>

                <div class="form-inline my-2 my-lg-0">
                    <a href="#"class="btn btn-warning">Login</a>
                            
                    <a href="{% url 'cart' %}">
                        <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                    </a>
                    <p id="cart-total">{{ cartItems }}</p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form id="form">
                        <div id="user-info">
                            <div class="form-field">
                                <input required class="form-control" type="text" name="name" placeholder="Name...">
                            </div>
                            <div class="form-field">
                                <input required class="form-control" type="email" name="email" placeholder="Email...">
                            </div>
                        </div>
                        
                        <div id="shipping-info">
                            <hr>
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field mt-2">
                                <input class="form-control" type="text" name="address" placeholder="Address...">
                            </div>
                            <div class="form-field mt-2">
                                <input class="form-control" type="text" name="city" placeholder="City...">
                            </div>
                            <div class="form-field mt-2">
                                <input class="form-control" type="text" name="zipcode" placeholder="Index...">
                            </div>
                        </div>
    
                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                    </form>
                </div>
    
                <br>
                <div class="box-element hidden" id="payment-info">
                    <small>Paypal Options</small>
                    <button id="make-payment">Make Payment</button>
                </div>
                
            </div>
    
            <div class="col-lg-6">
                <div class="box-element">
                    <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    {% for item in items %}
                    <div class="cart-row">
                        <!-- <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div> -->
                        <div style="flex:2"><p>{{ item.product.name }} {{ item.product.model }}</p></div>
                        <div style="flex:1"><p>${{ item.product.price }}</p></div>
                        <div style="flex:1"><p>{{ item.quantity }}</p></div>
                    </div>
                    {% endfor %}
                    <h5>Items:   {{ order.get_cart_items }}</h5>
                    <h5>Total:   ${{ order.get_cart_total|floatformat:2 }}</h5>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var shipping = '{{order.shipping}}'
        var total = '{{order.get_cart_total}}'

        if(shipping == 'False'){
            document.getElementById('shipping-info').innerHTML = ''
        }

        if(user != 'AnonymousUser'){
            document.getElementById('user-info').innerHTML = ''
        }

        if(shipping == 'False' && user != 'AnonymousUser'){
            // document.getElementById('form-wrapper').classList.add("hidden");
            document.getElementById('payment-info').classList.remove("hidden");
        }

        var form = document.getElementById('form')

        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('Form submitted...')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click', function(e){
            submitFormData()
        })

        function submitFormData(){
            console.log('Payment button clicked')

            var userFromData = {
                'name':null,
                'email':null,
                'total':total,
            }

            var shippingInfo = {
                'address':null,
                'city':null,
                'zipcode':null,
            }

            if(shipping != 'False'){
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.zipcode = form.zipcode.value
            }

            if(user == 'AnonymousUser'){
                userFromData.name = form.name.value
                userFromData.email = form.email.value
            }


            var url = '/process_order/'
            fetch(url,{
                method: 'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'form':userFromData, 'shipping':shippingInfo})
            })

            .then((response) => response.json())

            .then((data) =>{
                console.log('Success:',data);
                alert('Transaction completed');
                window.location.href = "{% url 'sneakers' %}"
            })
        }

    </script>
    


    <footer>
        <section class="contact mt-5">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="fas fa-map-marker-alt"></i>
                                <h4>Location:</h4>
                                <p>Abylai Khan Avenue 1/1, Kaskelen 050010</p>
                            </div>
                            <div class="open-hours">
                                <i class="far fa-clock"></i>
                                <h4>Open Hours:</h4>
                                <p>Monday-Saturday<br> 8AM–8:30PM
                                </p>
                            </div>
                            <div class="email">
                                <i class="fas fa-envelope-open-text"></i>
                                <h4>Email:</h4>
                                <p>basketball.trainer@gmail.com</p>
                            </div>
                            <div class="phone">
                                <i class="fas fa-phone"></i>
                                <h4>Call:</h4>
                                <p> 8 (777) 777 7777</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-5 mt-lg-0">
                        <form>
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <di class="col-sm-4 col-md-4 ">
                        <div>
                            <div class="text-center">
                                <p>&copy; Copyright - BasketballTrainer. All rights reserved.</p>
                            </div>
                        </div>
                    </di
                </div>
            </div>
        </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>