<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'sneakers.css' %}">
    <!-- <link rel="stylesheet" href="assets/sneakers.css"> -->
    <script src="https://kit.fontawesome.com/923acb3a15.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <title>Kids sneakers</title>
</head>
<body>
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="fas fa-envelope"></i>
                <a href="">SneakerShop</a>
                
            </div>
            <div class="social-links">
                <a href="https://twitter.com/NBA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/nba/" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/nba/" class="instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg bg-color" id="myNavbar">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">
                {% load static %}
                <img src="{% static 'heat.png' %}" alt="" style="height: 60px;width: 181px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>Menu
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'p404' %}" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'nba' %}" class="nav-link">NBA</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sneakers' %}" class="nav-link">Sneakers</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gallery' %}" class="nav-link">Gallery</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'rate' %}" class="nav-link">Rate us!</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <hr noshade size=20>
    
    <div style="background-image: url('{% static 'kids.jpg' %}');" width="100%" height="100%" class=" img-fluid position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div  class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="text-white">SHOP</h1>
            <a href="{% url 'sneakers' %}" class="lead text-white" style="text-decoration: none;"> Man </a>
            <a href="{% url 'women' %}" class="lead text-white" style="text-decoration: none;">/ Women </a>
            <a href="{% url 'kids' %}" class="lead text-white" style="text-decoration: none;"> / Kids </a>
        </div>
    </div>
    
    <div style="margin-left: 20px;" class="container-fluid">
        <div class="row" id = "recommd">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <h5 style="font-weight: bold;" class="">PRODUCT CATEGORIES</h5>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link active" href="#">Basketball (2) </a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Clothing & Stools (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Handbag (2)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Helmet For Women’s (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Kids & Young (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Mens Running (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Outerwears (9)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Sneaker (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Sportswear (5)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Training Wear (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Women (2)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Youth (4)</a>
                        </li>
                    </ul>
                    <br><br>
                    <h5 style="font-weight: bold;" class="">FILTER BY PRICE</h5>
    
                    <input type="range" style="width: 150px;" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                    <button class="btn btn-primary">FILTER</button> Price: $500
    
                    <br><br>
                    <h5 style="font-weight: bold;" class="">SIZE</h5>
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;3XL</a><br>
    
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;L</a><br>
    
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;M</a>
    
                    <br><br>
                    <h5 style="font-weight: bold;" class="">COLOR OPTIONS</h5>
    
                    <a style="color: #2349d5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <a style="color: #d4d4d4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <a style="color: #1cbbb4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <a style="color: #dd3333">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <a style="color: #eeee22">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <br><br>
                    <h5 style="font-weight: bold;" class="">TOP RATED</h5>
    
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/10d04f5d-1f2c-40a8-b09e-dd391589fce5/rt-live-and-shoe-1Zq8Gm.png" width="190" height="150">                        <div class="card-body">
                            <b class="card-text">NikeCourt Legacy</b>
                            <p class="card-text">$95.00</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b1a77337-3c59-49c8-892b-0355b3dcba1d/nikecourt-legacy-and-shoe-F0FC7b.png" width="190" height="150">
                            <div class="card-body">
                                <b class="card-text">Nike RT Live</b>
                                <p class="card-text">$70.00</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </nav>
    
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    
                <div class="album py-5 " id="cards">
                    <div class="container">
    
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/dbbae63d-5c91-401c-8868-55ae137bd5d9/blazer-mid-77-shoe-rZrkCl.png">
                                    <div class="card-body">
                                        <b class="card-text">Nike Blazer Mid '77</b>
                                        <p class="card-text">$75.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">WOMEN'S</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/f97bdb05-3a5c-4d68-a1cb-2b99afa3a6b3/force-1-and-shoe-rhFtBf.png">
                                    <div class="card-body">
                                        <b class="card-text"> Nike Air Max 2090</b>
                                        <p class="card-text">$125.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">HANDBAG, YOUTH</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/f8b71fdb-95a9-4cad-9853-8b3cd4cdda5b/air-max-bolt-and-shoe-jMHptJ.png" >
                                    <div class="card-body">
                                        <b class="card-text">Nike Air Max Bolt</b>
                                        <p class="card-text">$65.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">NEWEST SNEAKERS</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="album py-5 " id="cards">
                    <div class="container">
    
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/6a3431d6-5ce7-48d2-b62c-148b7c73f83d/air-max-2090-eoi-and-shoe-wqwm3c.png" >
                                    <div class="card-body">
                                        <b class="card-text">Nike Air Max 2090 EOI</b>
                                        <p class="card-text">$105</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">SPORTSWEAR</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/ee195930-6286-43ba-94d8-5c15b594bc51/force-1-lv8-3-shoe-Sk9P92.png">
                                    <div class="card-body">
                                        <b class="card-text"> Nike Force 1 LV8 3</b>
                                        <p class="card-text">$65.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">YOUTH</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/dbbae63d-5c91-401c-8868-55ae137bd5d9/blazer-mid-77-shoe-rZrkCl.png">
                                    <div class="card-body">
                                        <b class="card-text">Nike Blazer Mid '77</b>
                                        <p class="card-text">$75.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">WOMEN'S</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="album py-5 " id="cards">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/82fcc295-8484-454b-9d35-0671cda3f3a5/air-max-270-and-shoe-MxJMv6.png">
                                    <div class="card-body">
                                        <b class="card-text">Nike Air Max 270</b>
                                        <p class="card-text">$80.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">SPORTSWEAR</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/6a3431d6-5ce7-48d2-b62c-148b7c73f83d/air-max-2090-eoi-and-shoe-wqwm3c.png" >
                                    <div class="card-body">
                                        <b class="card-text">Nike Air Max 2090 EOI</b>
                                        <p class="card-text">$105</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">SPORTSWEAR</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d1d22f70-4ad5-49b5-aba2-6cb59c198ef7/kawa-se-and-slide-bCVMHJ.png" >
                                    <div class="card-body">
                                        <b class="card-text">Nike Kawa SE</b>
                                        <p class="card-text">$30</p>
                                        <div class="text-cards" id="tetx-card">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">JACKETS</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <hr noshade size=20>
    <footer>
        <section class="contact mt-5">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="fas fa-map-marker-alt"></i>
                                <h5>Location:</h5>
                                <p>Abylai Khan Avenue 1/1, Kaskelen 050010</p>
                            </div>
                            <div class="open-hours">
                                <i class="far fa-clock"></i>
                                <h5>Open Hours:</h5>
                                <p>Monday-Saturday<br> 8AM–8:30PM
                                </p>
                            </div>
                            <div class="email">
                                <i class="fas fa-envelope-open-text"></i>
                                <h5>Email:</h5>
                                <p>basketball.trainer@gmail.com</p>
                            </div>
                            <div class="phone">
                                <i class="fas fa-phone"></i>
                                <h5>Call:</h5>
                                <p> 8 (777) 777 7777</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-5 mt-lg-0">
                        <form>
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">

                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 ">
                        <div>
                            <div class="text-center">
                                <p>&copy; Copyright - BasketballTrainer. All rights reserved.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>