<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'sneakers.css' %}">
    <!-- <link rel="stylesheet" href="assets/sneakers.css"> -->
    <script src="https://kit.fontawesome.com/923acb3a15.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <title>Man sneakers</title>
</head>
<body>
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="fas fa-envelope"></i>
                <a href="">SneakerShop</a>
                
            </div>
            <div class="social-links">
                <a href="https://twitter.com/NBA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/nba/" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/nba/" class="instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg bg-color" id="myNavbar">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">
                {% load static %}
                <img src="{% static 'heat.png' %}" alt="" style="height: 60px;width: 181px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>Menu
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'p404' %}" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'nba' %}" class="nav-link">NBA</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sneakers' %}" class="nav-link">Sneakers</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gallery' %}" class="nav-link">Gallery</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'rate' %}" class="nav-link">Rate us!</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <hr noshade size=20>
    {% load static %}
    <div style="background-image: {% static 'man.jpg' %}" width="100%" height="100%" class=" img-fluid position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div  class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="text-white">SHOP</h1>
            <a href="{% url 'sneakers' %}" class="lead text-white" style="text-decoration: none;"> Men </a>
            <a href="{% url 'women' %}" class="lead text-white" style="text-decoration: none;">/ Women </a>
            <a href="{% url 'kids' %}" class="lead text-white" style="text-decoration: none;"> / kids </a>
        </div>
    </div>
    <div style="margin-left: 20px; margin-top: 50px;" class="container-fluid">
        <div class="row" id = "recommd">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <h5 style="font-weight: bold;" class="">PRODUCT CATEGORIES</h5>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link active" href="#">Basketball (2) </a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Clothing & Stools (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Handbag (2)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Helmet For Women’s (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Kids & Young (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Mens Running (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Outerwears (9)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Sneaker (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Sportswear (5)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Training Wear (0)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Women’s (2)</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-muted nav-link" href="#">Youth (4)</a>
                        </li>
                    </ul>
                    <br><br>
                    <h5 style="font-weight: bold;" class="">FILTER BY PRICE</h5>
    
                    <input type="range" style="width: 150px;" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                    <button class="btn btn-primary">FILTER</button> Price: $500
    
                    <br><br>
                    <h5 style="font-weight: bold;" class="">SIZE</h5>
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;3XL</a><br>
    
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;L</a><br>
    
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;M</a>
    
                    <br><br>
                    <h5 style="font-weight: bold;" class="">COLOR OPTIONS</h5>
    
                    <a style="color: #2349d5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <a style="color: #d4d4d4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <a style="color: #1cbbb4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <a style="color: #dd3333">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <a style="color: #eeee22">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"></circle>
                        </svg>&nbsp;</a>
    
                    <br><br>
                    <h5 style="font-weight: bold;" class="">TOP RATED</h5>
    
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/eb7db080-dc1e-44cd-bd5d-28619ab11ba7/sb-zoom-blazer-mid-skate-shoe-Fl1qfb.png">
                            <div class="card-body">
                                <b class="card-text">Nike SB Zoom Blazer</b>
                                <p class="card-text">$145.00</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/389b709e-5102-4e55-aa5d-07099b500831/blazer-mid-77-vintage-shoe-CBDjT0.png" >
                            <div class="card-body">
                                <b class="card-text">Nike Blazer Mid '77</b>
                                <p class="card-text">$108.00</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </nav>
    
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    
                <div class="album py-5 " id="cards">
                    <div class="container">
    
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col" id="first-card">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/71b14567-7b83-47f2-a0dc-dea4a8d88311/space-hippie-01-shoe.png">
                                    <div class="card-body">
                                        <b class="card-text">Arsenal Home Jersey </b>
                                        <p class="card-text">$450.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">JACKETS, YOUTH</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/76dfc4f7-6893-40dc-ba4d-7eb0973c64f9/air-max-plus-3-shoe-j6VkJL.png">
                                    <div class="card-body">
                                        <b class="card-text"> Arsenal Home Jersey</b>
                                        <p class="card-text">$550.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">HANDBAG, YOUTH</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/dd0ba971-0cb8-429e-81e7-1f6679e4ac1d/air-max-plus-shoe-D900hR.png">
                                    <div class="card-body">
                                        <b class="card-text">Commodo dolor</b>
                                        <p class="card-text">$180.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">NEWEST SNEAKERS</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="album py-5 " id="cards">
                    <div class="container">
    
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    {% load static %}
                                    <img src="{% static '4.jpg' %}">
                                    <div class="card-body">
                                        <b class="card-text">Convallis quam sit </b>
                                        <p class="card-text">$160.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
    
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">YOUTH</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    {% load static %}
                                    <img src="{% static '5.jpg' %}">
                                    <div class="card-body">
                                        <b class="card-text"> Convallis quam sit</b>
                                        <p class="card-text">$300.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">YOUTH</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    {% load static %}
                                    <img src="{% static '6.jpg' %}">
                                    <div class="card-body">
                                        <b class="card-text">Dasi Dress Denim</b>
                                        <p class="card-text">$274.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">WOMEN'S</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="album py-5 " id="cards">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    {% load static %}
                                    <img src="{% static '7.jpg' %}">
                                    <div class="card-body">
                                        <b class="card-text">Detail V-Neck Sweater </b>
                                        <p class="card-text">$182.00</p>
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">SPORTSWEAR</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    {% load static %}
                                    <img src="{% static '8.jpg' %}">
                                    <div class="card-body">
                                        <b class="card-text">East Hampton Fleece</b>
                                        <p class="card-text">$250.00-$300.00</p>
    
                                        <div class="text-cards">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">SPORTSWEAR</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    {% load static %}
                                    <img src="{% static '9.jpg' %}">
                                    <div class="card-body">
                                        <b class="card-text">Faxon Canvas Low(Woman)</b>
                                        <p class="card-text">$450.00</p>
                                        <div class="text-cards" id="tetx-card">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Card</button>
                                            </div>
                                            <small class="text-muted">JACKETS</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
      <div id="app" :class="bgColour">
        <h1>How much do you appreciate the choice of sneakers?</h1>
        <select v-model="bgColour">
          <option v-for="myClass in classes" :value="myClass">{{ myClass }}</option>
        </select>
      </div> 
    <script>
    new Vue({
      el: "#app",
      data: {
        bgColour: 'bgcolor',
        classes: [ 'A','B', 'C', 'D','F'
        ]
      }
    })
    </script>
    <hr noshade size=20>
    <footer>
        <section class="contact mt-5">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="fas fa-map-marker-alt"></i>
                                <h5>Location:</h5>
                                <p>Abylai Khan Avenue 1/1, Kaskelen 050010</p>
                            </div>
                            <div class="open-hours">
                                <i class="far fa-clock"></i>
                                <h5>Open Hours:</h5>
                                <p>Monday-Saturday<br> 8AM–8:30PM
                                </p>
                            </div>
                            <div class="email">
                                <i class="fas fa-envelope-open-text"></i>
                                <h5>Email:</h5>
                                <p>basketball.trainer@gmail.com</p>
                            </div>
                            <div class="phone">
                                <i class="fas fa-phone"></i>
                                <h5>Call:</h5>
                                <p> 8 (777) 777 7777</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-5 mt-lg-0">
                        <form>
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">

                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 ">
                        <div>
                            <div class="text-center">
                                <p>&copy; Copyright - BasketballTrainer. All rights reserved.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>